<h1><%= @song.name %></h1>
<h2><%= (link_to @song.artist.name, artist_path(@song.artist)) if @song.artist %></h2>
<h2><%= (link_to @song.genre.name, genre_path(@song.genre)) if @song.genre %></h2>
<br>
<%= button_to "Delete Song", song_path(@song), method: :delete, data: {confirm: "Are you sure?"} %>
<%= button_to "Back to home", songs_path, method: :get %>